@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@600&family=Roboto:wght@400;700&display=swap');
:root{
--Very-Pale-Cyan: hsl(193, 100%, 96%);
 --Very-DarkCyan:hsl(192, 100%, 9%);
--Grayish-Blue: hsl(208, 11%, 55%);
}
body {
    font-size: 18px;
}


/* header section */
header {
    background: url(images/bg-hero-desktop.svg) hsl(189, 100%, 97%) no-repeat;
   
}

.hero-content h2 {
    font-family: 'Poppins', sans-serif;
}
.hero-content button {
    background-color: hsl(322, 100%, 66%);
}

/* nav section */

nav img{
    max-width: 10rem;
}


nav button {
    width: 10rem;
}
.last{
    background-color:var(--Very-DarkCyan) ;
    height: 600px;
    margin-top: 20rem;
}
.last button{
    background-color: palevioletred;
}
.giz{
    background-color: white;
    height: 200px;
    width: 600px;
    align-items: center;
    position: relative;
    translate: 50% 50%;
    bottom: 15rem;
    text-align: center;
    gap: 3rem;
    margin-bottom: 3rem;
}
.giz h2{
    padding-top: 3rem;
}
.giz button{
    margin-top: 2rem;
}
.foot{
 position: absolute;
}
.foot img{
    background-color: white;

}
.out{
    color: white;
    padding-top: 2rem;
}
.out a{
    text-decoration: unset;
}

@media screen and (max-width: 400px) {
    .last{
        height: 1100px;
    }
    .giz{
        translate: 0% 0%;
        align-items: start;
        justify-content: start;
        display: grid;
        width: 390px;
        height: 200px;
        margin-top: 3rem;
    }
    .giz button{
        margin-bottom: 1rem;
        width: 300px;
    }
    .giz h2{
        padding-top: 0.01rem;
    }
    
}







